# Dependencies
node_modules
client/node_modules
server/node_modules

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log

# Docker
docker-compose.yml
Dockerfile*
.dockerignore

# Misc
.env
*.md
plans/
scripts/
